@import "libs/reset.scss";
@import "libs/color.scss";
@import "libs/keyframes.scss";

/***Minireset Ending here***/

/***Page d'accueil***/

body {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
a {
  text-decoration: none;
  color: #000;
}

/***Header***/

.header_container {
  position: relative;

  /***Pages html restaurants***/
  & span {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    color: #000;
  }
}
/**Fin page html restaurants***/

.header_logo {
  justify-content: center;
  & img {
    height: 1.5rem;
    padding: 0.5rem 0;
  }
}

/***Main***/

.explorer {
  &_location {
    background-color: #eaeaea;
    box-shadow: 0px -1px 4px #cecece;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    & i {
      padding-right: 0.5rem;
    }
  }
  &_description {
    background-color: $color-background;
    padding: 2rem;
    & h1 {
      font-size: 1.3rem;
      font-weight: 600;
      padding: 0 4rem 0.8rem 4rem;
      line-height: 1.2rem;
    }
    & h2 {
      padding-bottom: 1.5rem;
    }
  }
}

.running_title,
.restaurant_intro_title {
  text-align: left;
  font-weight: 600;
  padding: 3rem 0 1rem 0;
  width: 90%;
  margin: 0 auto;
  font-size: 1.3rem;
}

.running_main {
  margin-left: 1rem;
}
.running_container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  margin: 0.7rem auto 0 auto;
  background-color: $color-background;
  font-weight: 500;
  & i {
    padding: 0 1.3rem;
  }
}

.restaurant_intro {
  background-color: $color-background;
  padding-bottom: 2rem;
}

.restaurant_intro_title {
  margin-top: 2rem;
  padding-bottom: 1.5rem;
}

.restaurant_intro_cards {
  width: 90%;
  margin: 0 auto;
}

.restaurant_intro_article {
  margin-bottom: 1.3rem;

  & img {
    object-fit: cover;
    width: 100%;
    height: 45vw;
    border-radius: 1rem 1rem 0 0;
  }
  &_body {
    border-radius: 0 0 1rem 1rem;
    background-color: #fff;
    text-align: left;
    padding-left: 1rem;
    position: relative;
    & h2 {
      padding-top: 0.8rem;
      font-weight: 600;
    }
    & h3 {
      padding: 0.5rem 0 0.8rem 0;
    }
  }
}

/***Like icon***/

.like_icon {
  position: absolute;
  top: 1rem;
  right: 1.4rem;
  font-size: 1.5rem;
  & .far{
    position: absolute;
  }
  & .fas {
    visibility: hidden;
  }
  &:hover .far {
    visibility: hidden;
  }
  &:hover .fas{
    visibility: visible;
  }
  &:hover i {
    background: $color-gradient;
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-animation: fill 1s;
    -webkit-animation: fill 1s;
    animation: fill linear 1s;
  }
}

/***Footer HTML : Page d'accueil et pages restaurants***/

footer {
  text-align: left;
  color: #fff;

  position: relative;
  & a {
    color: #fff;
  }
}
.footer {
  padding: 1.5rem 0 2.5rem 1.2rem;
  background-color: #353535;
  &_title {
    font-family: "Shrikhand";
    padding-bottom: 1rem;
  }
  &_element {
    display: flex;
    padding: 0.3rem 0;
    & i {
      padding-right: 1rem;
    }
  }
}

/***Pages Html Restaurants***/

/***main***/

.restaurant_img img {
  object-fit: cover;
  height: 65vw;
  width: 100%;
  position: absolute;
  left: 0;
}

.restaurant_menu {
  background-color: $color-background;
  border-radius: 3rem 3rem 0 0;
  text-align: left;
  padding: 0 7vw 5vw 7vw;
  position: relative;
  top: 55vw;
}

.restaurant_menu_header {
  & h2 {
    font-family: "Shrikhand";
    font-size: 7vw;
    padding: 2rem 0;
  }
  & .like_icon {
    top: 2rem;
    right: 7vw;
    font-size: 7vw;
  }
}

.menu_dish_container {
  margin: 1rem 0 2rem -0.5rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px $color-background;
  padding: 0.8rem 0.8rem 0.8rem 0.7rem;
  position: relative;
  & h2 {
    font-weight: 600;
    padding-bottom: 0.6rem;
  }
  & h2,
  h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  & h3 {
    padding-right: 4rem;
  }
  & span {
    position: absolute;
    bottom: 0.8rem;
    right: 2rem;
  }
}

.footer_restau {
  margin-top: 55vw;
}

@media screen and (min-width: 600px) {
  main,
  header {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .running,
  .restaurant_intro {
    max-width: 1600px;
  }
}
