/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***Minireset Ending here***/
/**Padding_Variables***/
/***Page d'accueil***/
/***Header***/
/***Main***/
/***Explorer***/
/***Description***/
/***running***/
/***restaurant***/
/***footer***/
/***Restau pages***/
/***Margin_Variables***/
/**Ending_Padding&Margin_Variables***/
/***Like icon***/
button {
  border: none;
  background-color: transparent;
}

.like_icon {
  font-size: 1.5rem;
  transition: transform;
}
.like_icon .far {
  position: absolute;
}
.like_icon .fas {
  visibility: hidden;
}
.like_icon:hover .far {
  visibility: hidden;
}
.like_icon:hover .fas {
  visibility: visible;
  cursor: pointer;
}
.like_icon:hover i {
  background: linear-gradient(#9356DC, #FF79DA);
  animation: fillup 1s linear;
  -webkit-text-fill-color: transparent;
  background-clip: unset;
  -webkit-background-clip: text;
}
.like_icon:focus .far {
  visibility: hidden;
}
.like_icon:focus .fas {
  visibility: visible;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  background-clip: unset;
  -webkit-background-clip: text;
}

/***Like icon on index.html***/
@keyframes fillup {
  0% {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
  }
  40% {
    transform: scaleY(0.25);
  }
  60% {
    transform: scaleY(0.75);
    opacity: 0.35;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
.btn {
  width: 14.2rem;
  height: 3.1rem;
  font-size: 0.9rem;
  border-radius: 3rem;
  border-style: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.btn:hover {
  transform: scale(1.08);
  opacity: 0.7;
  box-shadow: 0px 3px 3px 5px rgba(0, 0, 0, 0.4);
}

/***Page d'accueil***/
body {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

/***Header***/
.header_container {
  position: relative;
  /***Pages html restaurants***/
}
.header_container span {
  position: absolute;
  left: 1rem;
  top: 1.6rem;
  color: #000;
  font-size: 1.3rem;
}

/**Fin page html restaurants***/
.header_logo {
  justify-content: center;
}
.header_logo img {
  height: 2rem;
  padding: 1rem 0;
}

/***Main***/
.explorer_location {
  background-color: #eaeaea;
  box-shadow: 0px -2px 4px #cecece;
  padding: 0.7rem;
  font-size: 0.8rem;
  font-weight: 500;
}
.explorer_location i {
  padding-right: 0.5rem;
}
.explorer_description {
  background-color: #f6f6f6;
  padding: 2rem;
}
.explorer_description h1 {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0 4rem 0.8rem 4rem;
  line-height: 1.2rem;
}
.explorer_description h2 {
  padding-bottom: 1.5rem;
}

.running_title,
.restaurant_intro_title {
  text-align: left;
  font-weight: 600;
  padding: 3rem 0 1rem 0;
  width: 90%;
  margin: 0 auto;
  font-size: 1.3rem;
}

.running_main {
  margin-left: 1rem;
}

.running_container {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.6rem 0 1.9rem 0;
  margin: 0.7rem auto 1rem auto;
  background-color: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}
.running_container_number {
  color: #fff;
  background: #9356DC;
  left: -0.6rem;
  position: absolute;
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
}
.running_container i {
  padding: 0 1.5rem 0 2.4rem;
  color: #7e7e7e;
}
.running_container .fa-store {
  font-size: 0.8rem;
}
.running_container .fa-mobile-alt {
  font-size: 1.3rem;
}
.running_container:hover {
  background: #f5edff;
}
.running_container:hover i {
  color: #9356DC;
}

.restaurant_intro {
  background-color: #f6f6f6;
  padding-bottom: 2rem;
}

.restaurant_intro_title {
  margin-top: 2rem;
  padding-bottom: 1.5rem;
}

.restaurant_intro_cards {
  width: 90%;
  margin: 0 auto;
}

.restaurant_intro_article {
  position: relative;
  margin-bottom: 1.3rem;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}
.restaurant_intro_article_new {
  position: absolute;
  font-weight: 600;
  color: #008766;
  background: #99E2D0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  right: 0.6rem;
  top: 0.7rem;
}
.restaurant_intro_article img {
  object-fit: cover;
  width: 100%;
  height: 45vw;
  border-radius: 1rem 1rem 0 0;
}
.restaurant_intro_article_body {
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
  text-align: left;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant_intro_article_body h2 {
  padding-top: 0.8rem;
  font-weight: 600;
}
.restaurant_intro_article_body h3 {
  padding: 0.5rem 0 0.8rem 0;
}
.restaurant_intro_article_body button {
  padding-right: 1.5rem;
}

/***Footer HTML : Page d'accueil et pages restaurants***/
footer {
  text-align: left;
  color: #fff;
  background-color: #353535;
  position: relative;
}
footer a {
  color: #fff;
}

.footer {
  padding: 1.5rem 0 2.5rem 1.2rem;
}
.footer_title {
  font-family: "Shrikhand";
  padding-bottom: 1rem;
}
.footer_element {
  display: flex;
  padding: 0.3em 0;
}
.footer_element i {
  padding-right: 1rem;
}
.footer_element .fa-hands-helping {
  font-size: 0.7rem;
}

/***Pages Html Restaurants***/
/***main***/
.restaurant_img img {
  object-fit: cover;
  height: 65vw;
  width: 100%;
  left: 0;
}

.restaurant_menu {
  background-color: #f6f6f6;
  border-radius: 3rem 3rem 0 0;
  text-align: left;
  padding: 0 7vw 5vw 7vw;
  position: relative;
  margin-top: -3.5rem;
}

.restaurant_menu_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
}
.restaurant_menu_header h2 {
  font-family: "Shrikhand";
  font-size: 7vw;
}
.restaurant_menu_header .like_icon {
  top: 2rem;
  right: 7vw;
  font-size: 7vw;
}

.menu_dish_title {
  margin: 1rem 0;
  font-weight: 300;
  line-height: 0.5rem;
  padding-top: 1.5rem;
}
.menu_dish_title p {
  color: #99E2D0;
  font-weight: 700;
}

.menu_dish_container {
  margin: 0.5rem 0 1rem -0.5rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
  padding: 0.8rem 0.8rem 0.8rem 0.7rem;
  cursor: pointer;
}
.menu_dish_container h2 {
  font-weight: 500;
  padding-bottom: 0.6rem;
  font-size: 16px;
}
.menu_dish_container h2,
.menu_dish_container .menu_dish_body .menu_dish_description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu_dish_container .menu_dish_body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_dish_container .menu_dish_body .menu_dish_description {
  font-size: 0.8rem;
  font-weight: 300;
}
.menu_dish_container .menu_dish_body .menu_dish_price {
  font-size: 0.8rem;
  font-weight: 500;
  padding-left: 0.5rem;
}

.order_btn {
  margin: 2rem auto;
  display: block;
}

@media screen and (min-width: 600px) {
  main,
header {
    width: 100%;
  }

  .restaurant_img img,
.restaurant_menu_header,
.menu_dish_card {
    height: auto;
    width: 80%;
  }

  .restaurant_menu {
    padding: 0 2rem 1rem 2rem;
    border-radius: unset;
  }

  .restaurant_menu_header,
.menu_dish_card {
    margin: 0 auto;
  }

  .restaurant_menu_header h2,
.restaurant_menu_header .like_icon {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .running,
.restaurant_intro_title,
.restaurant_intro_cards,
.restaurant_img,
.footer {
    max-width: 1600px;
    margin: 0 auto;
  }

  .restaurant_menu_header,
.menu_dish_card,
.restaurant_img,
.footer {
    max-width: 1000px;
  }

  .restaurant_menu_header h2,
.restaurant_menu_header .like_icon {
    font-size: 3rem;
  }

  .menu_dish_card {
    display: inline-block;
    margin: 2rem;
    width: 30%;
  }

  .restaurant_menu:not(:first-child, :last-child) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer_title {
    text-align: center;
    padding: 0.5rem 0 1.5rem 0;
  }

  .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
