@import "libs/reset.scss";
/***Minireset Ending here***/
@import "libs/weight&size.scss";
@import "libs/padding&margin.scss";
@import "libs/width&border-radius.scss";
@import "libs/variables.scss";
@import "libs/like.scss";
@import "libs/animations.scss";
@import "libs/loadingspinner.scss";
@import "libs/keyframes.scss";
@import "libs/button.scss";

/***Page d'accueil***/

body {
  scroll-behavior: smooth;
  width: $width100;
  margin: $margin-body;
  font-family: "Roboto", "sans-serif";
  font-size: $font-size-normal;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
a {
  text-decoration: none;
  color: #000;
}

/***Header***/

.header_container {
  position: relative;

  /***Pages html restaurants***/
  & span {
    position: absolute;
    left: 1rem;
    top: 1.6rem;
    color: #000;
    font-size: $font-size-large;
  }
}
/**Fin page html restaurants***/

.header_logo {
  justify-content: center;
  & img {
    height: 2rem;
    padding: $padding-header-logo;
  }
}

/***Main***/

.explorer {
  &_location {
    background-color: #eaeaea;
    box-shadow: $box-shadow-explorer;
    padding: $padding-explorer-city;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    & i {
      padding-right: $padding-explorer-i;
    }
  }
  &_description {
    background-color: $color-background;
    padding: $padding-description-block;
    & h1 {
      font-size: $font-size-large;
      font-weight: $font-weight-large;
      padding: $padding-description-h1;
      line-height: 1.2rem;
    }
    & h2 {
      padding-bottom: $padding-description-h2;
    }
  }
}

.running_title,
.restaurant_intro_title {
  text-align: left;
  font-weight: $font-weight-large;
  padding: $padding-title;
  width: $width90;
  margin: $margin-body;
  font-size: $font-size-large;
}

.running_main {
  margin-left: $margin-running-main;
}
.running_container {
  position: relative;
  width: $width90;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $padding-running-container;
  margin: $margin-running-container;
  background-color: $color-background;
  border-radius: $border-radius-normal;
  box-shadow: $box-shadow;
  font-weight: $font-weight-normal;
  &_number {
    color: $color-fourth;
    background: $color-primary;
    left: -0.6rem;
    position: absolute;
    padding: $padding-running-container-number;
    border-radius: $border-radius-normal;
  }
  & i {
    padding: $padding-running-container-i;
    color: #7e7e7e;
  }
  & .fa-store {
    font-size: $font-size-small;
  }
  & .fa-mobile-alt {
    font-size: $font-size-large;
  }
  &:hover {
    background: #f5edff;
  }
  &:hover i {
    color: $color-primary;
  }
}
.restaurant_intro {
  background-color: $color-background;
  padding-bottom: $padding-description-block;
}

.restaurant_intro_title {
  margin-top: $margin-restau-intro-title;
  padding-bottom: $padding-description-h2;
}

.restaurant_intro_cards {
  width: $width90;
  margin: $margin-body;
}

.restaurant_intro_article {
  position: relative;
  margin-bottom: $margin-restau-intro-article;
  box-shadow: $box-shadow;
  border-radius: $border-radius-normal;
  &_new {
    position: absolute;
    font-weight: $font-weight-large;
    color: #008766;
    background: $color-tertiary;
    padding: $padding-intro-article-new;
    border-radius: $border-radius-little;
    right: 0.6rem;
    top: 0.7rem;
  }
  & img {
    object-fit: cover;
    width: $width100;
    height: 45vw;
    border-radius: $border-radius-top;
  }
  &_body {
    border-radius: $border-radius-bottom;
    background-color: $color-fourth;
    text-align: left;
    padding-left: $padding-intro-article-body;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & h2 {
      padding-top: $padding-intro-article-body-h2;
      font-weight: $font-weight-large;
    }
    & h3 {
      padding: $padding-intro-article-body-h3;
      font-size: $font-size-lsmall;
    }
    & button {
      padding-right: 1.5rem;
      font-size: 1.3rem;
    }
  }
}

/***Footer HTML : Page d'accueil et pages restaurants***/

footer {
  text-align: left;
  color: $color-fourth;
  background-color: $color-footer-background;

  position: relative;
  & a {
    color: $color-fourth;
  }
}
.footer {
  padding: $padding-footer;
  &_title {
    font-family: "Shrikhand";
    padding-bottom: $padding-intro-article-body;
  }
  &_element {
    display: flex;
    padding: $padding-footer-element;
    & i {
      padding-right: $padding-intro-article-body;
    }
    & .fa-hands-helping {
      font-size: $font-size-xsmall;
    }
  }
}

/***Pages Html Restaurants***/

/***main***/

.restaurant_img img {
  object-fit: cover;
  height: 65vw;
  width: $width100;
  left: 0;
}

.restaurant_menu {
  background-color: $color-background;
  border-radius: $border-radius-top-large;
  text-align: center;
  padding: $padding-restau-menu;
  position: relative;
  margin-top: $margin-restau-menu;
}

.restaurant_menu_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: $padding-description-block;
  position: relative;
  & h2 {
    font-family: "Shrikhand";
    font-size: $font-size-extend-title;
  }
}
.menu_dishes {
  margin: 0 auto;
}

.menu_dish_title {
  margin: $margin-menu-dish-title;
  font-weight: $font-weight-xsmall;
  line-height: 0.5rem;
  padding-top: $padding-description-h2;
  text-align: left;
  & p {
    color: $color-tertiary;
    font-weight: $font-weight-xlarge;
  }
}

.menu_dish_container {
  margin: $margin-dish-container;
  background-color: $color-fourth;
  border-radius: $border-radius-normal;
  box-shadow: $box-shadow;
  padding: $padding-dish-container;
  cursor: pointer;
  position: relative;
  & h2 {
    font-weight: $font-weight-normal;
    padding-bottom: $padding-dish-container-h2;
    font-size: $font-size-normal;
    text-align: left;
  }
  & h2,
  .menu_dish_description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  & .menu_dish_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  & .menu_dish_body {
    font-size: $font-size-normal;
    font-weight: $font-weight-xsmall;
  }
  & .menu_dish_body .menu_dish_price {
    font-weight: $font-weight-normal;
    padding-left: $padding-explorer-i;
  }
}

.order_btn {
  margin: $margin-order-btn;
  display: block;
}

@import "tablette";
@import "dekstop";
